html {
  background-color: #3f9bb0;
  color: #fff;
}

/*************************************************************
BODY
*************************************************************/

.wrapper {
  width: 100%;
  background: red;
}

/*************************************************************
HEADER
*************************************************************/

header {
  text-align: center;
}

h1 {
  margin: 0 auto;
  font-family: "orbitron", sans-serif;
  font-size: 7em;
  font-weight: 400;
}

.fa-lightbulb-o {
  font-size: 1.3em;
}



/*************************************************************
NAVIGATION
*************************************************************/
