html {
  background-color: #3f9bb0;
  color: #fff;
  font-family: verdana, sans-serif;
}

/*************************************************************
BODY
*************************************************************/

.wrapper {
  width: 100%;
}

/*************************************************************
HEADER
*************************************************************/

h1 {
  margin-top: .3em;
  text-align: center;
  font-family: "orbitron", sans-serif;
  font-size: 7em;
  font-weight: 400;
}

.fa-lightbulb-o {
  font-size: 1.3em;
}

/*************************************************************
MAIN
*************************************************************/

main {
  margin-top: 4em;
}

.new-game {
  text-align: center;
  text-transform: uppercase;
  font-size: 4em;
}



/*************************************************************
NAVIGATION
*************************************************************/

.main-nav li {
  margin-top: 3em;
  text-align: center;
  font-size: 2em;
}
.main-nav a {
  text-decoration: none;
  color: #fff;
}
