/*************************************************************
GLOBAL
*************************************************************/

.wrapper {
  height: 100%;
  color: #fff;
  font-family: helvetica, sans-serif;
  vertical-align: middle;
}

/*************************************************************
**************************************************************
**************************************************************
MAIN PAGE
**************************************************************
**************************************************************
**************************************************************/

.index-page {
  width: 100%;
  height: 100%;
  background-color: #3f9bb0;
  overflow-y: hidden;
}

/*************************************************************
BODY
*************************************************************/

.index-wrapper {
  margin-top: 12.8em;
}

/*************************************************************
HEADER
*************************************************************/

h1 {
  margin-top: .3em;
  text-align: center;
  font-family: "orbitron", sans-serif;
  font-size: 4em;
  font-weight: 400;
  letter-spacing: .05em;
}

.fa-lightbulb-o {
  font-size: 1.3em;
}

/*************************************************************
MAIN
*************************************************************/

main {
  margin-top: 1.5em;
}

.new-game {
  text-align: center;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 500;
}

/*************************************************************
NAVIGATION
*************************************************************/

.main-nav {
  margin-top: 2.5em;
}

.main-nav li {
  margin: 1.2em auto;
  width: 18em;
  padding: .9em .5em;
  border: .24em solid #fff;
  text-align: center;
  font-size: 1.05em;
  font-weight: 400;
}

.main-nav li:nth-child(odd) {
  -webkit-transform: perspective(20em) rotateY(-25deg);
          transform: perspective(20em) rotateY(-25deg);
}

.main-nav li:nth-child(even) {
  -webkit-transform: perspective(20em) rotateY(25deg);
          transform: perspective(20em) rotateY(25deg);
}

.main-nav a {
  position: relative;
  text-decoration: none;
  color: #fff;
}

/* compliments of http://front-back.com/expand-clickable-areas-for-a-better-touch-experience */
.main-nav a::after {
  content:'';
  position:absolute;
  top:-1em; bottom:-1em;
  left:-8.5em; right:-8.5em;
}

.main-nav li:hover,
.main-nav a:hover {
  overflow: hidden;
  color: #444;
  background: #fff;
  opacity: .9;
}

/*************************************************************
**************************************************************
**************************************************************
GAME PAGE
**************************************************************
**************************************************************
**************************************************************/

.game-page {
  background-color: #3f51b5;
  width: 100%;
  height: 100%;
}

.game-wrapper {
  margin-top: 2.5em;
  margin-bottom: 0;
}

/*************************************************************
GAME HEADER
*************************************************************/

.game-clock {
  text-align: right;
}

.hearts-and-clocks {
  margin-top: 2.5em;
}

.game-header {
  width: 95%;
  margin: auto;
}

/*************************************************************
GAME BOARD
*************************************************************/

.game-board {
  position: relative;
  margin: 2.5em auto 0;
  text-align: center;
}

.card-checkbox {
  float: left;
  width: 14em;
  height: 14em;
  display: none;
}

.card-checkbox {
  width: 14em;
  height: 14em;
  background: #7986cb;
}

.card {
  position: relative;
  float: left;
  width: 14em;
  height: 14em;
  border-radius: 5px;
  background: #7986cb;
  margin: 0 .07em;
  -webkit-transition: background 1s, transform 1s;
          transition: background 1s, transform 1s;
}

.icon-container5 {
  width: 100%;
  height: 100%;
  background: #7986cb;
}

.card-icon {
  position: relative;
  width: 100%;
  height: 100%;
  color: #7986cb;
  text-align: center;
  margin-top: 3em;
  -webkit-transform: rotateY(180deg);
         -transform: rotateY(180deg);
}

.card-checkbox:checked +.card {
  background: #fff;
  -webkit-transform: rotateY(180deg);
         -transform: rotateY(180deg);
}

.row1,
.row2,
.row3 {
  display: inline-block;
  margin-bottom: .0031em;
}

.row2,
.row3 {
  display: inline-block;
  margin-top: .0031em;
}

/*
.card-pane {
  display: block;
}

.card-pane input {
  width: 14em;
  height: 14em;
  display: none;
}

.card-pane input:checked +.game-card-front {
  -webkit-transform: rotateY(180deg);
         -transform: rotateY(180deg);
}

.game-card-front,
.game-card-back {
  width: 14em;
  height: 14em;
  background: #7986cb;
  display: block;
}

.game-card-front {
  z-index: 2;
  -webkit-transform: rotateY(0deg);
         -transform: rotateY(0deg);
}

.game-card-back {
  z-index: 1;
  backface-visibility: hidden;
  -webkit-transform: rotateY(180deg);
         -transform: rotateY(180deg);
}
*/
